:root{

    --primary-color:#1f0437;
    --lighter-shade:#3B2D67;
    --more-lighter:#3B2D67;
    --light-yellow:#ffd119;
    --yellow:#FFBF1B;
    --darker-yellow:#FFAC1C;
    --red:#FF3030;
   --white:#fff;
   --dark-white:#e5e5e5;
   --great-white:#e9ecef;
}