:root{
    --primary-color:#1f0437;
    --lighter-shade:#3B2D67;
    --more-lighter:#3B2D67;
    --light-yellow:#ffd119;
    --yellow:#FFBF1B;
    --darker-yellow:#FFAC1C;
    --red:#FF3030;
   --white:#fff;
   --dark-white:#e5e5e5;
   --great-white:#e9ecef;
   --transition: all 0.4s ease-in;
   --spacing: 0.25rem;
   --radius: 0.5rem;
/* font color */
   --font-clr:#343a40;
 /* font */
--f-primary:'Raleway', sans-serif;
--f-secondary:'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
  }
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: var(--f-secondary);
    background: var(--great-white);
    color: var(--font-clr);
    line-height: 1.5;
    font-size: 0.875rem;
  }

  
ul {
    list-style-type: none;
  }
  .links > a{
    text-decoration: none;
    color:var(--great-white);
    z-index:99;
    font-size:1.25rem;
    text-align:center;
    text-transform: capitalize;
    font-family: var(--f-primary);
    cursor:pointer;
  }
 
  /* @media screen and(max-width:) */

  img:not(.logo) {
    width: 100%;
  }
  img {
    display: block;
  }
  button{
    outline: 0;
  }
  h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--f-primary);
  color:var(--great-white);
}
h1 {
  font-size: 3rem;
  text-align:center;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 850px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }
/* preloader */

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--white);
    display: grid;
   justify-content:center;
   align-items: center;
    visibility: visible;
    z-index: 999;
    transition: var(--transition);
  }
  .hide-preloader {
    z-index: -999;
    visibility: hidden;
  }