
/* ************************** */
/* sections */


/* header section */
header{
    background:linear-gradient(130deg,  #2a0845 ,rgba(131, 164, 272, 0.2) ),url("https://cdn.pixabay.com/photo/2019/04/30/12/34/smart-4168483_960_720.jpg");
    background-size:cover;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    background-attachment: fixed;
}
nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    height:100px;
    padding:1rem;
    overflow:hidden;
    z-index: 100;
}

.header-section{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:8rem 2rem;
}
.header-part-1 {
   padding:3.5rem 4rem;
    text-align:center;
}
.header-part-2{
    padding:4rem 1rem;
    display:flex;
    gap:80px;
}

/* header section end*/

/* ******second section */


@media screen and (max-width:800px){

    /* header section start*/

    .header-section{
        padding:5rem 1rem;
        line-height:1.5;
     
    }
    .header-part-1 {
        padding-top:2rem;
    }
    .header-part-2{
        display:block;
        padding:1rem;
    }

    /* header section end*/
}
/* sections */

/* ************end********************** */


/* utilities */
.toggle{
    display:none;
}
.logo{
    width:180px;
    height:auto;
    display:inline;
    max-width:100%;
}
.btn-main{
    padding:12px 40px;
    border:0;
    background:#d32b2b;
    margin:0;
    cursor:pointer;
    border-radius: 80px;
    text-transform: uppercase;
    color:var(--white);
}

.borderd-btn{
    background:transparent;
    border:2px solid var(--great-white);
}
.key{
    font-size:1.25rem;
    margin-left:15px;
}
.nav-links{
display: flex;
align-items: center;
gap:40px;
    
}

.fa-bars{
    font-size:2.2rem;
    color:var(--dark-white);
padding-top:10px;

}
 



  .fixed{
      position:fixed;
      top:0;
      display:flex;
      gap:50px;
      background:var(--primary-color);
      left:0;
      right:0;
      z-index:99;

  }
  .fixed .logo{
      width:180px;
  }
 

  .member{
      padding:12px 28px;
      background:var(--darker-yellow);
      border:0;
      border-radius:30px;
      color:var(--more-lighter);
      text-transform: capitalize;
      cursor:pointer;
  
     
  }
  .links > a{
    text-decoration: none;
    color:var(--great-white);
    z-index:99;
    font-size:1.25rem;
    text-align:center;
    text-transform: capitalize;
    font-family: var(--f-primary);
    cursor:pointer;
  }
 












@media screen and (max-width:930px){
    .links > a{
    
        color:var(--great-white);
        font-size:1rem;
    
      }
      .nav-links{
          gap:20px;
      }
}


 /* 
  */
  @media  screen and (max-width:760px){
.nav-links{
   display: none;
}

 .list-open{
    position:fixed;
    top:100px;
    left:0;
    right:0;
    bottom:0;
   display:grid;
   place-items: center;
    background:var(--more-lighter);
    margin:30px;
  border-radius: 40px; 
  z-index: 99;
  transition:var(--transition);
  transform:scale(0);
  }

.toggle{
    display:block;
    transition:var(--transition);
    transform:rotate(0)
}
.toggle:hover{
    transform:rotate(360deg)
}

.member{
    padding:14px 20px;
    background:var(--red);
    border:0;
    border-radius:30px;
    color:var(--great-white);
    text-transform: uppercase;
    font-weight:700;
    cursor:pointer;
    display:block; 
     width:80%;
     letter-spacing: 2px;
}

.list-active{
    opacity:1 ;
    transform:scale(1) ;
  }

.links > a{
    font-size:1.5rem;
    padding:1rem;
  }
  .btn-main{
      padding:14px 20px;
      margin-top:30px;
      width:100%;

  }
  .key{
    font-size:1rem;
    margin-left:10px;
  }
}
      
