---
layout: "base.njk"
---
<section class ="form-container">

        <form action="" class="wrapper needs-validation" novalidate>

     <div class="heading-sect form-sect">
      <p class="form-heading">healthy blood Calculator</p>
     </div>
 
    <div class="form-sect">
    <p class = "radio-label">select your gender</p>
  <label for="female">female </label>
<input type="radio" name="gender" id="female" value="female">
  <label for="male"> male </label>
<input type="radio" name="gender" id="male" value="male">
  </div>


 

     <div class="form-sect">
  <label for="weight"> weight </label>
  <input id = "weight" type="number"  placeholder = "weight in kg" class="form-control" required >
  </div>


   <div class="form-sect">
  <label for="height"> height </label>
  <input id = "height" type="number"  placeholder = "height in kg" class="form-control" required >
  </div>





<button class="btn" type="submit">check</button>

  <p class="sub-heading"></p>
</form>

<div class="wrapper  result-sect">
  <h2>Your results</h2>
  <div class="result">

  </div>
  

  
  <div class="action">
  <h2>what next</h2>
  
<p>The amount of blood in the human body is generally equivalent to 7 percent of body weight. The average amount of blood in your body is an estimate because it can depend on how much you weigh, your sex, and even where you live.</p>
      <p>learn more about at<a href="https://www.healthydirections.com/articles/general-health/human-blood-amount"> blood calculator study</a></p>
      
  
  </div>   
  
  <div class="reset">
  <button type="submit" class = "replay">check again</button>
  </div>
</div>
        <div class="details">
          <h2>So, how much blood do you have in your body? </h2>
          <p>The average human adult has more than 5 liters (6 quarts) of blood in his or her body. Blood carries oxygen and nutrients to living cells and takes away their waste products. It also delivers immune cells to fight infections and contains platelets that can form a plug in a damaged blood vessel to prevent blood loss.</p>
           <p>Through the circulatory system, blood adapts to the body's needs. When you are exercising, your heart pumps harder and faster to provide more blood and hence oxygen to your muscles. During an infection, the blood delivers more immune cells to the site of infection, where they accumulate to ward off harmful invaders.</p> 
       
  
       <h2>Refernce and Materials</h2>
       <p><a href="https://www.ncbi.nlm.nih.gov/books/NBK2263/">reference link-1</a></p>


       
        </div>
        
        <div class="loader hide-form">
      <img src="/img/giphy.gif" alt="loader">
      </div>
    </section> 

    <script src="/js/page-js/blood.js"></script>