---
layout: "base.njk"
---
     <section class="form-container">

        <form action="" class="wrapper needs-validation" novalidate>
     <div class="heading-sect form-sect">
      <p class="form-heading">
        ideal weight calculator
      </p>
    
      <p class="sub-heading">The Ideal Weight Calculator computes ideal body weight (IBW) ranges based on height, gender.</p>
     </div>
 

    <div class="form-sect">
    <p class = "radio-label">select your gender</p>
  <label for="female">female </label>
<input type="radio" name="gender" id="female" value="female">
  <label for="male"> male </label>
<input type="radio" name="gender" id="male" value="male">
  </div>

<div class="form-sect">
  <label for="height">your height</label>
  <input id = "height" type="number" name="height" placeholder = "in centimeters (cm)" class="form-control"  required>
</div>


<button class="btn" type="submit">check</button>

</form>

<div class="wrapper  result-sect">
  <h2>Your result</h2>
    <p> based on robbinson, miller, devine & hamwi </p>
  <div class="result">   
  </div>
  

  
  <div class="action">
  <h2>what next</h2>
  
      <p>Maintaining a healthy weight is important for your heart health.</p>
      <p>learn more about at<a href="https://www.nhlbi.nih.gov/health-topics/overweight-and-obesity"> overweight and obesity</a></p>
      <p> article related to deal weight and bmi <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4841935/"> articles</a></p>
      
  
  </div>   
  
  <div class="reset">
  <button type="submit" class = "replay">check again</button>
  </div>
</div>
        <div class="details">
          <h2>IBW was coined based on historical data of weights for adult men and women that compared the relative mortality of persons</h2>
          <p>Multiple ideal body weight formulas have been developed to assist physicians with dosing weight-based medications. Please confirm with your local pharmacy whether ideal or actual body weight should be used for medication dosing. </p>
             <p>here we give you classification of ideal weight based on 4 important methods used globally </p>
           <p>1) robbinson</p> 
           <p>2) miller</p>
           <p>3) devine</p>
            <p>4) hamwi</p>
       <p></p>
         
       <h2>Refernce and Materials</h2>
       <p><a href="https://www.bmi-calculator.net/ideal-weight-calculator/robinson-formula/e">refernces link-1</a></p>
       <p><a href="https://www.cdc.gov/diabetes/managing/healthy-weight.html">refernces link-2</a></p>

       
        </div>
        
        <div class="loader hide-form">
      <img src="/img/giphy.gif" alt="loader">
        </div>


    </section> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.4/purify.min.js"></script>
<script defer src="/js/page-js/ideal-weight.js"></script>  
   
