---
layout: "base.njk"
---
<section class ="form-container">

        <form action="" class="wrapper needs-validation">
     <div class="heading-sect form-sect">
      <p class="form-heading">
       Macronutrients amount calculator
      </p>
    
     </div>
 
    <div class="form-sect">
    <p class = "radio-label">select your gender</p>
  <label for="female">female </label>
<input type="radio" name="gender" id="female" value="female">
  <label for="male"> male </label>
<input type="radio" name="gender" id="male" value="male">
  </div>

  <div class="form-sect">
  <label for="age"> age </label>
  <input id = "age" type="number" name="age" placeholder = "your age" class="form-control" >
  </div>

 
     <div class="form-sect">
  <label for="weight"> weight </label>
  <input id = "weight" type="number" name="age" placeholder = "weight in kg" class="form-control" required >
  </div>

    <div class="form-sect">
  <label for="height"> height </label>
  <input id = "height" type="number" name="height" placeholder = "height in cm" class="form-control" required >
  </div>

<div class="form-sect">
  <label for="activity">your activitry level</label>
   <select name="activity" id="activity">
  <option value="1">Sedentary: little or no exercise</option>
   <option value="2">Exercise 1-3 times/week</option>
  <option value="3">Exercise 4-5 times/week”</option>
   <option value="4">Daily exercise or intense exercise 3-4 times/week</option>
     <option value="5">Intense exercise 6-7 times/week</option>
     <option value="6">Intense exercise 6-7 times/week</option>
      <option value="7">"Very intense exercise daily, or physical job"</option>

</select>


</div>

<div class="form-sect">
  <label for="goals">select your goal</label>
   <select name="goal" id="goal">
  <option value="maintain">maintain weight</option>
   <option value="mildlose">mild weight lose</option>
    <option value="extremelose">Weight loss</option>
     <option value="mildgain">mild weight gain</option>
      <option value="weightgain">weight gain</option>
       <option value="extremegain">extreme weight gain</option>
</select>

</div>


<button class="btn" type="submit">check</button>

  <p class="sub-heading">Macronutrients (also known as macros) are nutrients that the body uses in relatively large amounts and therefore needs to receive daily. There are three macronutrients: proteins, carbohydrates, and fats.</p>
</form>

<div class="wrapper  result-sect">
  <h2>Your results</h2>
    <p>carbohydrates, fats, protein is an essential part of our body</p>
  <div class="result">

  </div>
  

  
  <div class="action">
  <h2>what next</h2>
    <p>Macronutrients are a group of nutrients that provide your body with energy and the components it needs to maintain its structure and functions.</p>
      <p>learn more about at <a href="https://www.healthline.com/nutrition/what-are-macronutrients#what-they-are">here</a></p>
      
  
  </div>   
  
  <div class="reset">
  <button type="submit" class = "replay">check again</button>
  </div>
</div>
        <div class="details">
          <h2>The 3 Primary Macronutrients</h2>
          <p>Macronutrients (also known as macros) are nutrients that the body uses in relatively large amounts and therefore needs to receive daily. There are three macronutrients: proteins, carbohydrates, and fats.</p>

           <p>Each of the three primary macronutrients affects the body differently. To make sure that you're getting the right amount of each macronutrient in your diet, it will help to understand the role each macro plays in your body.</p> 

           <p>It is important to include each macronutrient in your daily diet. This will be easier if you build each meal around a combination of protein, carbs, and healthy fats. That said, finding the exact balance of macros that's right for you can be tricky.</p>
       
  
       <h2>Refernce and Materials</h2>
       <p><a href="https://nal.usda.gov/legacy/fnic/macronutrients">reference link-1</a></p>
  
       
        </div>
        
        <div class="loader hide-form">
      <img src="/img/giphy.gif" alt="loader">
        </div>


    </section> 

<script defer src="/js/page-js/macro.js"></script>  
