---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
<!--  created with Free Online Sitemap Generator www.xml-sitemaps.com  -->
<url>
<loc>https://skribfy.com/</loc>
<lastmod>2022-01-22T10:17:45+00:00</lastmod>
<priority>1.00</priority>
</url>
<url>
<loc>https://skribfy.com/bmi/</loc>
<lastmod>2022-01-22T10:17:45+00:00</lastmod>
<priority>0.80</priority>
</url>
<url>
<loc>https://skribfy.com/ideal-weight/</loc>
<lastmod>2022-01-22T10:17:45+00:00</lastmod>
<priority>0.80</priority>
</url>
<url>
<loc>https://skribfy.com/water-calculator/</loc>
<lastmod>2022-01-22T10:17:45+00:00</lastmod>
<priority>0.80</priority>
</url>
<url>
<loc>https://skribfy.com/body-fat/</loc>
<lastmod>2022-01-22T10:17:45+00:00</lastmod>
<priority>0.80</priority>
</url>
<url>
<loc>https://skribfy.com/daily-calorie/</loc>
<lastmod>2022-01-22T10:17:45+00:00</lastmod>
<priority>0.80</priority>
</url>
<url>
<loc>https://skribfy.com/menstrual/</loc>
<lastmod>2022-01-22T10:17:45+00:00</lastmod>
<priority>0.80</priority>
</url>
<url>
<loc>https://skribfy.com/macro-nutrients/</loc>
<lastmod>2022-01-22T10:17:45+00:00</lastmod>
<priority>0.80</priority>
</url>
<url>
<loc>https://skribfy.com/protein-intake/</loc>
<lastmod>2022-01-22T10:17:45+00:00</lastmod>
<priority>0.80</priority>
</url>
<url>
<loc>https://skribfy.com/blood-calculator/</loc>
<lastmod>2022-01-22T10:17:45+00:00</lastmod>
<priority>0.80</priority>
</url>
<url>
<loc>https://skribfy.com/privacy-policy/</loc>
<lastmod>2022-01-22T10:17:45+00:00</lastmod>
<priority>0.80</priority>
</url>
<url>
<loc>https://skribfy.com/terms/</loc>
<lastmod>2022-01-22T10:17:45+00:00</lastmod>
<priority>0.80</priority>
</url>
<url>
<loc>https://skribfy.com/cookie/</loc>
<lastmod>2022-01-22T10:17:45+00:00</lastmod>
<priority>0.80</priority>
</url>
</urlset>