---
layout: "base.njk"
---

<section class ="form-container">

        <form action="" class="wrapper needs-validation" novalidate>
     <div class="heading-sect form-sect">
      <p class="form-heading">
        water calculator
      </p>
    
      <p class="sub-heading">the amount of water you need to consume in relation to the amount of time you will exercise and your body weight</p>
     </div>
 

  <div class="form-sect">
  <label for="weight"> weight </label>
  <input id = "weight" type="number" name="weight" placeholder = "your weight in kg" class="form-control" required >
  </div>

<div class="form-sect">
  <label for="activity">daily activity in minutes/day</label>
  <input id = "activity" type="number" name="activity" placeholder = "daily activity in minutes" class="form-control" min="0" max="100" required>
</div>


<button class="btn" type="submit">check</button>

</form>

<div class="wrapper  result-sect">
  <h2>Your results</h2>
    <p> in cups are calculated using imperial units </p>
  <div class="result">

     
  </div>
  

  
  <div class="action">
  <h2>what next</h2>
  
      <p>Water makes up an estimated 60% of your body weight. It is a critical chemical component that your body depends on to survive.

The organs, tissues, and cells that form your body require water to function. If you do not consume sufficient water, you will become dehydrated, and this will impact your body's ability to work properly. Even minor cases of dehydration can leave you feeling lethargic and lacking energy.</p>
      <p>learn more about at<a href="https://www.scirp.org/(S(351jmbntvnsjt1aadkposzje))/reference/referencespapers.aspx?referenceid=1803573"> water intake study</a></p>
      
  
  </div>   
  
  <div class="reset">
  <button type="submit" class = "replay">check again</button>
  </div>
</div>
        <div class="details">
          <h2>average amount of water you needed per day</h2>
          <p>Your body uses water throughout the day. It is eliminated through perspiration, sweating, urine, bowel movements, and even breathing.</p>
           <p>According to the National Academies of Sciences, Engineering, and Medicine, the required daily fluid intake for an adult is as follows</p> 
           <p>Females: 2.7 liters (11.5 cups) &  Males: 3.7 liters (15.5 cups)</p>
           <p> The quantities outlined above include the water consumed via drinks and food. In the majority of cases, around 20% of the daily fluid intake is derived from food, and the remainder comes from drinks.</p>
       
  
       <h2>Refernce and Materials</h2>
       <p><a href="https://www.scirp.org/(S(351jmbntvnsjt1aadkposzje))/reference/referencespapers.aspx?referenceid=106592">reference link-1</a></p>
       <p><a href="https://www.scirp.org/(S(351jmbntvnsjt1aadkposzje))/reference/referencespapers.aspx?referenceid=1803573">refernces link-2</a></p>

       
        </div>
        
        <div class="loader hide-form">
      <img src="/img/giphy.gif" alt="loader">
        </div>


    </section> 

<script defer src="/js/page-js/water-calculator.js"></script>  
   










